langchain
langchain-google-genai
langchain-openai
langchain-anthropic
langchain-core
langchain-community
pydantic
validators
python-dotenv
psycopg2-binary
requests
uuid
loguru
serpapi
google-search-results
openai
anthropic
beautifulsoup4
markdown
fastapi
uvicorn
gunicorn
ruff
httpx
python-multipart
jinja2
